<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>
<body>
  <div class="sidebar">
    <!--<img src="{{ '/assets/images/your-picture.jpg' | relative_url }}" alt="Your Picture">-->
    <div class="icons">
      <a href="https://www.linkedin.com/in/ryputtam/"><img src="{{ '/assets/images/linkedin-icon.png' | relative_url }}" alt="LinkedIn"></a>
      <a href="https://github.com/ryputtam"><img src="{{ '/assets/images/github-icon.png' | relative_url }}" alt="GitHub"></a>
      <a href="https://unsplash.com/@rputtam"><img src="{{ '/assets/images/unsplash-icon.png' | relative_url }}" alt="Unsplash"></a>
    </div>
  </div>
  <div class="content">
    {{ content }}
  </div>
</body>
</html>
